#generatedTitle {
  margin-top: 2rem;
  background-color: #24201B;
  padding:10px;
  border-radius: 10px;
}
#generatedUnit {
  background-color: #847668;
  width:95px;
  height:95px;
  padding:10px;
  margin:auto;
  border-radius: 10px;
}
#generatedUnit img {
  width: 100%;
  height: 100%;
}
#generatedClass {
  background-color: #AAAEEE;
  width:70px;
  height:70px;
  padding:5px;
  margin:auto;
  border-radius: 5px;
}
#generatedClass img {
  width: 100%;
  height: 100%;
}
#generatedBSkill {
  color: rgb(255,215,0);
  font-size:18px;
  line-height:16px;
  text-shadow: 2px 1px 1px #24201B;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bolder;
}
#generatedDuoSkill {
  color: #756B5E;
  font-family:TF2 Secondary, Verdana, Geneva, sans-serif;
  font-size: 15px
}
#rarityStatus {
  line-height:1.2em;
  font-size:95%;
  width:80%;
  margin:auto;
  color: #EBE2CA;
}
#generatedWeapon {
  color: #99CCFF;
}
#generatedStatsHP {
  color: #FF4040;
}
