#generatedTitle {
  margin-top: 2rem;
  width:auto;
  margin:auto;
  padding:1px;
  border-radius: 10px;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #FFFFFF;
}
#generatedUnit {
    position: relative;
  width:75px;
  height:auto;
  padding:0px;
  border-radius: 1px;
	z-index: 20;
}
#generatedFrontpack {
    position: relative;
  width:auto;
  height:auto;
  padding:0px;
  border-radius: 1px;
	z-index: 20;
}
#generatedBackpack {
    position: relative;
  width:auto;
  height:auto;
  padding:0px;
  border-radius: 1px;
	z-index: 20;
}
.overlay_image{
    position: absolute;
    width: 88px;
    height: 89px;
    margin-top: -6px;
    margin-left: -6px;
	z-index: 30;
}
.underlay_image{
    position: absolute;
    width: 88px;
    height: 89px;
    margin-top: -81px;
    margin-left: -6px;
	z-index: 10;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.unit-column {
  float: left;
  width: 50%;
  padding: 100px;
}

/* Clear floats after image containers */
.unit-row::after {
  content: "";
  clear: both;
  display: table;
}
#generatedWepIcon {
	display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width:35px;
  margin:auto;
  border-radius: 0px;
  float: left;
}
#generatedWepIcon img {
  width: 100%;
  height: 100%;
}
#generatedMove {
	display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width:35px;
  height:auto;
  padding:0px;
  margin:auto;
  border-radius: 0px;
  float: left;
}
#generatedMove img {
  width: 100%;
  height: 100%;
}
#generatedSkills {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: rgb(255,255,255);
  padding-left:10px;
  max-width: 350px;
}
#generatedDuoSkill {
  color: #8DE761;
  font-family:TF2 Secondary, Verdana, Geneva, sans-serif;
  font-size: 15px;
  max-width: 350px;
}
#rarityStatus {
  line-height:1.2em;
  font-size:95%;
  width:80%;
  margin:auto;
  color: #EBE2CA;
}
#generatedWeapon {
  color: #FFFFFF;
}
#generatedStats {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #F8FB94;
  padding-left:10px;
  max-width: 350px;
}
.flexDiv {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 25px;
  flex-wrap: wrap;
/*@media only screen and (max-width: 880px) {
    align-items: center;
    justify-content: center;
	flex-direction: column;
 }*/
}

.leftCol{
    width:48%;
    margin-right:2%;
    float: left;
}
.rightCol {
    width:48%;
    float: left;
}
.clearfix{
    clear:both
}

.box-1{
	border-style: solid;
  padding:10px;
  border-radius: 10px;
    background-color: #032437;
	margin:auto;
	max-width:auto;
	border-color: #7FCDE1;
	border-width: 1px;
}
.unit-container{
    width:150px;
    height:75px;
	margin: auto;
}
.title-and-weapon-container{
	display: table;
  width: auto; 
  height: fit-content;
	margin: auto;
	padding:5px;
}
.title-container{
	display: table;
  width: auto; 
  height: fit-content;
	margin: auto;
	border-style: solid;
  border-radius: 10px;
	border-width: 1px;
	border-color: rgb(62,44,36);
    background-color: rgb(132,93,76);
	padding:5px;
}
.banner{
	width: 100vw;
  height: fit-content;
	margin: 0 auto;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(62,44,36);
    background-color: rgb(233,204,169);
	padding:5px;  
	box-shadow: 0px 3px 3px #000;
  color: #000000;
}
.footBanner{
	width: 100vw;
  height: fit-content;
	margin: 0 auto;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(62,44,36);
    background-color: rgb(233,204,169);
	padding:5px;  
	margin-top:100px;
	box-shadow: 0px -3px 3px #000;
  color: #000000;
}

    .custom-container{
        width:420px;
		margin: auto;
    }
@media (min-width: 768px) {
    .custom-container{
        width:750px;
		margin: auto;
    }
}

@media (min-width: 992px) {
    .custom-container{
        width:750px;
		margin: auto;
    }
}

@media (min-width: 1200px) {
    .custom-container{
        width:750px;
		margin: auto;
    }
}

.button {
	border-style: solid;
	border-width: 1px;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 130px;
	color: rgb(0,0,0);
}
.buttonContainer{
	display: table;
	margin:auto;
	width:auto;
	padding: 5px;
}
.season{
	display: table;
	margin:auto;
	color: #FFFFFF;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
	padding: 5px;
}

.goldButton {background-color: rgb(255,217,86);
	border-color: rgb(137,105,51);} /* Gold */
.duoButton {background-color: rgb(255,249,192);
	border-color: rgb(245,233,170);} /* Duo */
.silverButton {
	background-color: rgb(212,248,255);
	border-color: rgb(129,169,188);} /* Silver */
.bronzeButton {background-color: rgb(227,147,111);
	border-color: rgb(140,58,18);} /* Bronze */
